<!-- <favourite [fav]="favState"
    (change)="favStateChanged()"
></favourite> -->

<!-- <panel>
  <div class="heading">
    <h5 class="card-title">My Custom Heading Here</h5>
  </div>

  <div class="body">My Custom Body Here</div>
</panel> -->

<!-- 
<ul>
    <li *ngFor="let p of persons ; let i = index">
       {{i+1}} {{p}}
    </li>
</ul> -->

<!-- <ul *ngFor="let group of peopleByCountry">
  <li>
    {{ group.country }}
    <ul>
      <li *ngFor="let people of group.names">
          {{people.name}}
      </li>
    </ul>
  </li>
</ul> -->

<!-- <input type="text" class="form-control" [(ngModel)] = "newCourse" (keyup) = "checkEnter($event)" />

<button class="btn btn-primary" (click)="onAdd()">Add</button> -->

<!-- <ul *ngIf="courses.length > 0">
  <li *ngFor="let course of courses ; trackBy: trackByCourse">
    <button (click)="onRemove(course)" class="btn btn-danger">Remove</button>
    <span>
      {{ course.courseName }}
    </span>
  </li>
</ul>

<div *ngIf="courses.length === 0 ">
    No Courses
</div> -->

<!-- <div *ngIf="courses.length > 0 ; then coursesList else noCourses"></div>

<ng-template #coursesList>
    <ul >
        <li *ngFor="let course of courses ; trackBy: trackByCourse">
          <button (click)="onRemove(course)" class="btn btn-danger">Remove</button>
          <span>
            {{ course.courseName }}
          </span>
        </li>
      </ul>
</ng-template>

<ng-template #noCourses>
    <div *ngIf="courses.length === 0 ">
        No Courses
    </div> 
</ng-template> -->

<!-- <login></login> -->
<!-- <remote></remote> -->
<nav-bar></nav-bar>
<main role="main" class="container">
  <router-outlet></router-outlet>
  <!-- dskj -->
</main>
